<!DOCTYPE html>
<html ng-app="myApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <!--<div ng-controller="departmentsController">
        <input type="button" value="GetData" ng-click="GetDepartments()" />

        {{MyValue}}


        <ul ng-repeat="dept in MyValue">
            <li>Did:{{dept.Did}}  DName:{{dept.DName}}</li>
        </ul>

        <select ng-model="d" ng-options="dept.Did as dept.DName for dept in MyValue"></select>

        {{d}}


        <table class="table-striped" width="100%">
            <tr>
                <td>Did</td>
                <td>Name</td>
                <td>HOD</td>
            </tr>
            <tr ng-repeat="dept in MyValue">
                <td>{{dept.Did}}</td>
                <td>{{dept.DName}}</td>
                <td>{{dept.HOD}}</td>
            </tr>
        </table>
    </div>-->

    <div ng-controller="departmentsController">

        <input type="button" value="GetData" ng-click="GetDepartments()" />

        <div ng-controller="employeesController">
            <select ng-model="d" ng-change="GetEmployeesByDid(d)" 
                    ng-options="dept.Did as dept.DName for dept in Depts"></select>

            <select ng-model="e" ng-options="emp.Eid as emp.EName for emp in Emps"></select>
        <hr/>
            <input type="text" ng-model="search" value=" " />
            <table class="table table-hover" width="100%">
                <tr>
                    <td ng-click="Sort('Eid')">Eid</td>
                    <td ng-click="Sort('EName')">EName</td>
                    <td ng-click="Sort('ESalary')">ESalary</td>
                    <td ng-click="Sort('Gender')">Gender</td>
                    <td ng-click="Sort('Department')">Department</td>
                </tr>
                <!--<tr ng-repeat="emp in Emps | filter:search | 
                    orderBy:key:AscOrDesc">-->
                <tr dir-paginate="emp in Emps | filter:search | 
                    orderBy:key:AscOrDesc | itemsPerPage:3">
                    <td>{{emp.Eid}}</td>
                    <td>{{emp.EName | uppercase}}</td>
                    <td><input type="text" name="name" value=" " ng-model="emp.ESalary" /></td>
                    <td>
                        <input type="radio" ng-model="emp.EGender" value="M" />Male
                        <input type="radio" ng-model="emp.EGender" value="F" />Female
                    </td>
                    <td>
                        <select ng-model="emp.Did"
                                ng-options="dept.Did as dept.DName for dept in Depts">
                    </td>
                </tr>
            </table>
            <dir-pagination-controls max-size="3"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>

    </div>
</body>
</html>
<script src="Scripts/angular.min.js"></script>
<script src="myapp.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<link href="Content/bootstrap.min.css" rel="stylesheet" />
<script src="Scripts/dirPagination.js"></script>