<!DOCTYPE html>
<html ng-app="MyApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    

    <div ng-controller="MyController">
        {{2+3}}
        {{MyVal}}

        <input type="text" ng-model="MyVal" />


        <input type="button" ng-click="MyFun()" value="ClickMe" />

        <input type="button" ng-click="MyFun2(MyVal)" value="ClickMe Again" />

    </div>
</body>
</html>
<script src="Scripts/angular.min.js"></script>
<script src="Scripts/myapp.js"></script>