<!DOCTYPE html>
<html >

<head>
    
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-app>
    <div ng-controller="myCntrl-1">
        <input type="button" value="Put" ng-click="PutVal()" />
    </div>

    <div ng-controller="myCntrl-2">
        <input type="button" value="Read" ng-click="ReadVal()" />
    </div>
    {{3+2}}
</body>
</html>
<script src="Scripts/angular.min.js"></script>
<!--
<script src="Scripts/angular-route.min.js"></script>
<script src="Scripts/angular-cookies.min.js"></script>

<script src="MyApp.js"></script>-->
